# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.TCPP-Slobodianiuk-MainProject.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Progect\TCPP-Slobodianiuk-MainProject\.idea\.idea.TCPP-Slobodianiuk-MainProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
